@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@plugin "tailwindcss-motion";
@source "../node_modules/flowbite";

:root {
    --font-heading: "Poiret One", sans-serif;
    --font-paragraph: "Maven Pro", sans;
    --font-accent: "Sulphur Point", monospace;
}

.font-heading {
    font-family: var(--font-heading);
    font-weight: 800;
}

.font-paragraph {
    font-family: var(--font-paragraph);
    font-weight: 500;
}

.font-accent {
    font-family: var(--font-accent);
    font-weight: 600;
}

a:hover svg {
    color: #f59e0b;
    /* amber-400 */
}


.liquid-svg {
    width: 100%;
    height: 100%;
}

.liquid-circle {
    animation: moveAround 10s ease-in-out infinite;
    filter: blur(15px);
    /* Add blur effect */
}

.liquid-circle:nth-child(1) {
    animation-delay: 0s;
}

.liquid-circle:nth-child(2) {
    animation-delay: 2.5s;
}

.liquid-circle:nth-child(3) {
    animation-delay: 5s;
}

@keyframes moveAround {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, -20px);
    }

    50% {
        transform: translate(-20px, 20px);
    }

    75% {
        transform: translate(20px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Floating effect keyframes */
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Add the floating effect class */
.float {
    animation: float 2s ease-in-out infinite;
}